<div class="container my-5">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 my-5">
            <div class="border shadow-lg rounded position-relative">
                <div class="position-absolute top-0 start-50 translate-middle">
                    <div class="fw-bold fs-4 text-center ">
                        TRA CỨU ĐƠN HÀNG
                    </div>
                </div>
                <div class="p-5">
                    <form action="/home/ordered">
                        <div class="form-floating mb-3">
                            <input type="text" name="sdt" class="form-control" id="floatingInput" placeholder="Nhập số điện thoại đặt hàng của bạn" />
                            <label for="floatingInput">Số điện thoại</label>
                        </div>
                        <div class="d-grid">
                            <input type="submit" value="Kiểm tra" class="btn text-white col fw-semibold" style="background-color:#71CD14" />
                        </div>
                    </form>
                    <hr />
                    <span class="text-muted">Bạn chưa có đơn hàng? <a asp-action="Index" class="text-decoration-none">Mua sắm ngay</a></span>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
</div>