<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="container">
            <div class="banner_content d-md-flex justify-content-between align-items-center">
                <div class="mb-3 mb-md-0">
                    <h2>Giỏ hàng</h2>
                </div>
                <div class="page_link">
                    <a href="/">Trang chủ</a>
                    <a action="active disabled">Giỏ hàng</a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container my-5">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d245.2772417379095!2d105.43347057023387!3d10.386914117628567!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x310a7357db5b2405%3A0xc223648a8e15508f!2sFPT%20Telecom%20An%20Giang!5e0!3m2!1svi!2s!4v1683363683640!5m2!1svi!2s" class="w-100" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>