@model List<websiteSPcongnghe.Models.ListLoved>

@{

}

@if(Model.Count > 0){
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Danh sách yêu thích</h2>
                    </div>
                    <div class="page_link">
                        <a href="/">Trang chủ</a>
                        <a action="active disabled">Danh sách yêu thích</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản phầm</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="~/images/products/@item.SanPhams.Hinhanh" width="150" height="150" />
                                            </div>
                                            <div class="media-body">
                                                <p>@item.SanPhams.Tensanpham</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>@Html.DisplayFor(modelItem => item.SanPhams.Dongia)</h5>
                                    </td>
                                    <td>
                                        <a asp-action="RemoveItemLove" asp-route-id="@item.SanPhams.SanphamID">
                                            <i class="fa-solid fa-trash text-secondary"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
} else {
    <div class="row my-5">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">
            <div class="border mt-5 p-5 shadow-lg rounded position-relative">
                <div class="position-absolute top-0 start-50 translate-middle">
                    <i class="fa-solid fa-face-frown fs-1 text-muted"></i>
                </div>
                <div class="text-center text-uppercase fs-4 fw-bold">
                    <p>BẠN CHƯA CÓ SẢN PHẨM TRONG DANH SÁCH YÊU THÍCH</p>
                    <p>Vui lòng quay lại</p>
                </div>
                <div class="position-absolute top-100 start-50 translate-middle">
                    <a class="btn rounded text-white" href="/" style="background-color:#71CD14">Quay trở lại</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4"></div>
    </div>
}