@model List<websiteSPcongnghe.Models.ListLoved>

@{

}

@if(Model.Count > 0){
    <section class="banner_area">
        <div class="banner_inner d-flex align-items-center">
            <div class="container">
                <div class="banner_content d-md-flex justify-content-between align-items-center">
                    <div class="mb-3 mb-md-0">
                        <h2>Danh sách yêu thích</h2>
                    </div>
                    <div class="page_link">
                        <a href="/">Trang chủ</a>
                        <a action="active disabled">Danh sách yêu thích</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Sản phầm</th>
                                <th scope="col">Đơn giá</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="~/images/products/@item.SanPhams.Hinhanh" width="150" height="150" />
                                            </div>
                                            <div class="media-body">
                                                <p>@item.SanPhams.Tensanpham</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5>@Html.DisplayFor(modelItem => item.SanPhams.Dongia)</h5>
                                    </td>
                                    <td>
                                        <a asp-action="RemoveItem" asp-route-id="@item.SanPhams.SanphamID">
                                            <i class="fa-solid fa-trash text-secondary"></i>
                                        </a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
} else {
    <div class="container mt-5">
        <div class="text-center mt-5">
            <div class="mb-5">
                <span class="fs-1">
                    <i class="fa-solid fa-face-frown"></i>
                </span>
            </div>
            <span class="fs-2 fw-bold">BẠN CHƯA CÓ SẢN PHẨM TRONG DANH SÁCH YÊU THÍCH, VUI LÒNG QUAY LẠI</span>
            <div class="my-5">
                <a class="fs-5 px-3 py-2 btn text-white" style="background-color:#71CD14" href="/">Về trang chủ</a>
            </div>
        </div>
    </div>
}