@model websiteSPcongnghe.Models.Sanpham

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sanpham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SanphamID" />
            <div class="form-group">
                <label asp-for="Tensanpham" class="control-label">Tên sản phẩm</label>
                <input asp-for="Tensanpham" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="DanhmucID" class="control-label">Danh mục</label>
                <select asp-for="DanhmucID" class="form-control" asp-items="ViewBag.DanhmucID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ThuonghieuID" class="control-label">Thương hiệu</label>
                <select asp-for="ThuonghieuID" class="form-control" asp-items="ViewBag.ThuonghieuID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh" class="control-label">Hình ảnh</label>
                <input type="file" name="file" asp-for="Hinhanh" class="form-control" />
                <input type="hidden" asp-for="Hinhanh" />
            </div>
            <div class="form-group">
                <label asp-for="Dongia" class="control-label">Đơn giá</label>
                <input asp-for="Dongia" class="form-control" oninput="tinh();" />
            </div>
            <div class="form-group">
                <label asp-for="Sale" class="control-label">Sale (%)</label>
                <input asp-for="Sale" class="form-control" oninput="tinh();" />
            </div>
            <div class="form-group">
                <input type="hidden" name="ThanhTien" asp-for="Thanhtien" class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="Soluong" class="form-control" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script>
        function tinh() {
            var donGia = document.getElementById("dg").value;
            var giamGia = document.getElementById("sale").value;
            document.getElementById("ThanhTien").value = donGia - (donGia * (giamGia / 100));
        }
    </script>
}
