@model websiteSPcongnghe.Models.Sanpham

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Sanpham</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SanphamID" />
            <div class="form-group">
                <label asp-for="Tensanpham" class="control-label"></label>
                <input asp-for="Tensanpham" class="form-control" />
                <span asp-validation-for="Tensanpham" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DanhmucID" class="control-label"></label>
                <select asp-for="DanhmucID" class="form-control" asp-items="ViewBag.DanhmucID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ThuonghieuID" class="control-label"></label>
                <select asp-for="ThuonghieuID" class="form-control" asp-items="ViewBag.ThuonghieuID"></select>
            </div>
            <div class="form-group">
                <label asp-for="Hinhanh" class="control-label"></label>
                <input type="file" name="file" asp-for="Hinhanh" class="form-control" />
                <input type="hidden" asp-for="Hinhanh" />
                <span asp-validation-for="Hinhanh" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Dongia" class="control-label"></label>
                <input asp-for="Dongia" class="form-control" />
                <span asp-validation-for="Dongia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sale" class="control-label"></label>
                <input asp-for="Sale" class="form-control" />
                <span asp-validation-for="Sale" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Thanhtien" class="control-label"></label>
                <input asp-for="Thanhtien" class="form-control" />
                <span asp-validation-for="Thanhtien" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Soluong" class="control-label"></label>
                <input asp-for="Soluong" class="form-control" />
                <span asp-validation-for="Soluong" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
