@model IEnumerable<websiteSPcongnghe.Models.Thuonghieu>

@{
    ViewData["Title"] = "Index";
}

<div class="my-5">
    <a asp-action="Create" class="btn btn-secondary btn-icon-split">
        <span class="icon text-white-50">
            <i class="fas fa-arrow-right"></i>
        </span>
        <span class="text">Thêm danh mục</span>
    </a>
</div>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Danh sách Thương hiệu</h6>
    </div>
    <div class="card-body">
        <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>
                        Thương hiệu
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Tenthuonghieu)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.ThuonghieuID">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.ThuonghieuID">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.ThuonghieuID">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>